{% extends "base.html" %}

{% block title %}Résultat recherche train{% endblock %}

{% block content %}
<div>
  <h1 style="text-align: center;">Résultats trains</h1>
  <p>Vous voyagez en <strong>{{ travelClass }}</strong> et vous souhaitez <strong>{{ nbTickets }} billet(s)</strong></p>
</div>

{% if errorMessage %}
<p class="error_message">Aucun trains ne repondent à vos critères...</p>
{% else %}


<form class="form_research" action="{% url 'reserveTrip' %}" method="post">
  {% csrf_token %}

<input type="hidden" name="nbTickets" value="{{ nbTickets }}" />

<h2>Trains aller</h2>
<div>
  {% if outboundTrains %}
  <fieldset>
    <legend>Choisissez un train aller</legend>
    {% for t in outboundTrains %}
    <div>
      <input
        type="radio" id="id_{{t.name}}" name="outboundVoyage" 
        value='{
          "idVoyage": {{ t.idVoyage }},
          "prixFlexibilite": {{ t.prixFlexibilite }},
          "prixBilletOutbound": {{ prixBilletOutbound }},
          "nbTickets": {{ nbTickets }},
          "travelClass": "{{ travelClass }}",
          "idTrain": {{ t.id }}
        }' 
        required
      />
      <label for="id_{{t.name}}">
        {{t.name}} -- {{ t.dateDepart }} -- {{ prixBilletOutbound }}€
      </label>
    </div>
    {% endfor %}
  </fieldset>
  {% else %}
  <p>Pas de train aller</p>
  {% endif %}
</div>

<h2>Trains retour</h2>
<div>
  {% if returnTrains %}
  <fieldset>
    <legend>Choisissez un train retour</legend>
    <div>
      <input type="radio" id="id_{{t.name}}" name="returnVoyage" value="None" required/>
      <label for="id_{{t.name}}">Pas de retour</label>
    </div>
    {% for t in returnTrains %}
    <div>
      <input 
        type="radio" id="id_{{t.name}}" name="returnVoyage" 
        value='{
          "idVoyage": {{ t.idVoyage }},
          "prixFlexibilite": {{ t.prixFlexibilite }},
          "prixBilletReturn": {{ prixBilletReturn }},
          "nbTickets": {{ nbTickets }},
          "travelClass": "{{ travelClass }}",
          "idTrain": {{ t.id }}
        }'
      />
      <label for="id_{{t.name}}">
        {{t.name}} -- {{ t.dateDepart }} -- {{ prixBilletReturn }}€
      </label>
    </div>
    {% endfor %}
  </fieldset>
  {% else %}
  <p>Pas de train retour</p>
  {% endif %}
</div>

<input class="save_button" type="submit" value="Submit">

</form>

{% endif %}

{% endblock %}