{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
</head>

<body>
  <nav>
    <a href="{% url 'index' %}">Accueil</a>
    <a href="{% url 'searchTrain' %}">rechercher un train</a>
    {% if request.session.idClient %}
    <div>
      <span>Client n°{{ request.session.idClient }}</span>
      <a href="{% url 'logout' %}">Deconnexion</a>
    </div>
    {% else %}
    <a href="{% url 'login' %}">
      <button>Se connecter</button>
    </a>
    {% endif %}
  </nav>

  <div id="main_content">
    {% block content %}{% endblock %}
  </div>
</body>

<script src="{% static 'js/index.js' %}"></script>
</html>
