{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
</head>

<body>

  <div id="navbar">
    <nav>
      <ul>
        <li>
          <a href="{% url 'index' %}">
            <img src="{% static 'assets/accueil_icon.png' %}" alt="Icone accueil">
            <span>Accueil</span>
          </a>
        </li>
        <li>
          <a href="{% url 'searchTrain' %}">
            <img src="{% static 'assets/api_icon.png' %}" alt="Icone API">
            <span>rechercher un train</span>
          </a>
        </li>
        {% if request.session.idClient %}
        <li>
          <div style="text-align: center;">
            Client n°{{ request.session.idClient }}
          </div>
          <span>
            <a href="{% url 'logout' %}">
              <button class="redirect_button">Deconnexion</button>
            </a>
          </span>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}">
            <button class="redirect_button">Se connecter</button>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <div id="content">
    <div id="container_content">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>

<script src="{% static 'js/index.js' %}"></script>
</html>
