{% extends "base.html" %}

{% block title %}Authentification{% endblock %}

{% block content %}

<h2>Connexion</h2>

<form class="form_authentication" action="{% url 'login' %}" method="POST">
  {% csrf_token %}
  <div>
    <label for="id_name">Nom</label>
    <input id="id_name" type="text" name="name">
  </div>
  <div>
    <input class="redirect_button" type="submit" value="Submit">
  </div>
</form>

<a href="{% url 'register' %}">
  <button class="redirect_button">S'inscrire</button>
</a>



{% if message %}
<p class="error_message">{{ message }}</p>
{% endif %}

{% endblock %}