{% extends "base.html" %}

{% block title %}Réservation du voyage{% endblock %}

{% block content %}

<form class="form_recap" action="{% url 'comfirmReservation' %}" method="post">
  {% csrf_token %}

  <div>
    <h2>Récapitulatif Aller</h2>
    <div class="recap">
      <p>Voyage n°{{ outboundVoyage.idVoyage }}</p>
      <p>Train n°{{ outboundVoyage.idTrain }}</p>
      <p>
        {{ nbTickets }} billets à {{ outboundVoyage.prixBilletOutbound }} <br>
        TOTAL ALLER = {% widthratio outboundVoyage.prixBilletOutbound 1 nbTickets %}
      </p>
    </div>

    <fieldset>
      <legend>Option flexibilité</legend>
      <div>
        <input 
          type="radio" id="id_outbound_flex" name="outboundVoyageValidated" 
          value='{
            "flex": 1,
            "idVoyage": {{ outboundVoyage.idVoyage }},
            "travelClass": "{{ outboundVoyage.travelClass }}",
            "nbTickets": "{{ nbTickets }}"
          }' 
          required
          />
        <label for="id_outbound_flex">Avec flex +{{ outboundVoyage.prixFlexibilite }}€</label>
      </div>
      <div>
        <input type="radio" id="id_outbound_nonflex" name="outboundVoyageValidated"
          value='{
            "flex": 0,
            "idVoyage": {{ outboundVoyage.idVoyage }},
            "travelClass": "{{ outboundVoyage.travelClass }}",
            "nbTickets": "{{ nbTickets }}"
          }' 
          required 
        />
        <label for="id_outbound_nonflex">Sans flex</label>
      </div>
    </fieldset>
  </div>

  {% if returnVoyage %}
  <div>
    <h2>Récapitulatif Retour</h2>
    <div class="recap">
      <p>Voyage n°{{ returnVoyage.idVoyage }}</p>
      <p>Train n°{{ returnVoyage.idTrain }}</p>

      <p>
        {{ nbTickets }} billets à {{ returnVoyage.prixBilletReturn }} <br>
        TOTAL ALLER = {% widthratio returnVoyage.prixBilletReturn 1 nbTickets %}
      </p>
    </div>

    <fieldset>
      <legend>Option flexibilité</legend>
      <div>
        <input type="radio" id="id_return_flex" name="returnVoyageValidated" 
          value='{
            "flex": 1,
            "idVoyage": {{ returnVoyage.idVoyage }},
            "travelClass": {{ returnVoyage.travelClass }},
            "nbTickets": "{{ nbTickets }}"
          }' 
          required 
        />
        <label for="id_return_flex">Avec flex +{{ returnVoyage.prixFlexibilite }}€</label>
      </div>
      <div>
        <input type="radio" id="id_return_nonflex" name="returnVoyageValidated" 
          value='{
            "flex": 0,
            "idVoyage": {{ returnVoyage.idVoyage }},
            "travelClass": {{ returnVoyage.travelClass }},
            "nbTickets": "{{ nbTickets }}"
          }' 
          required
        />
        <label for="id_return_nonflex">Sans flex</label>
      </div>
    </fieldset>
  </div>
  {% else %}
  <h2>Pas de retour</h2>
  {% endif %}

  <input class="save_button" type="submit" value="Valider la réservation">

</form>

{% endblock %}