{% extends "base.html" %}

{% block title %}Recherche train{% endblock %}

{% block content %}
<h1>Recherche de train</h1>

<div>
  <form class="form_research" action="{% url 'searchTrain' %}" method="post">
    {% csrf_token %}
  
    <div>
      <label for="id_outbound_station">Départ</label>
      <select id="id_outbound_station" name="departure" required>
        {% for s in allStations %}
        <option value="{{ s.id }}">{{ s.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="id_return_station">Arrivée</label>
      <select id="id_return_station" name="arrival" required>
        {% for s in allStations %}
        <option value="{{ s.id }}">{{ s.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label>Date de départ&nbsp&nbsp&nbsp</label>
      <div>
        {{ form.outboundDate }}
        {{ form.outboundTime }}
      </div>
    </div>

    <div>
      <label>Date de retour</label>
      <div>
        {{ form.returnDate }}
        {{ form.returnTime }}
      </div>
    </div>

    <div>
      <label>Nombre de billets</label>
      {{ form.nbTickets }}
    </div>

    <div>
      <label>Siège</label>
      {{ form.travelClass }}
    </div>
  
    <input class="save_button" type="submit" value="Submit">
  </form>
</div>

{% endblock %}